<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Neon Text Effect</title>

    </head>
    <body>
      <div class="text-box">
          <div class="line"></div>
          <div class="layer"></div>
          <h1 style="cursor:pointer; text-align:center" routerLink="/home">Rick and Morty App!</h1>
      </div>



    <!-- Scripts -->
    <script src="js/main.js"></script>
    </body>
</html>
