h6{
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  text-shadow: 0 0 10px #00ff2a,
  0 0 20px #00ff2a,
  0 0 40px #00ff2a,
  0 0 80px #00ff2a,
  0 0 120px #00ff2a;
}


.card {
  transition: transform .3s;
}

.card:hover {
  transform: translateY(-50px) scale(1.2)
}
