
<h3 style="text-align:center; margin-top:50px">Rick and Morty</h3>
  <body style="margin-top:-4%;">

    <div class="slider">

      <span style="--i:1;"><img src='assets/img/img1.jpeg'></span>
      <span style="--i:2;"><img src='assets/img/img2.jpeg'></span>
      <span style="--i:3;"><img src='assets/img/img3.jpeg'></span>
      <span style="--i:4;"><img src='assets/img/img4.jpeg'></span>
      <span style="--i:5;"><img src='assets/img/img5.jpeg'></span>
      <span style="--i:6;"><img src='assets/img/img6.jpeg'></span>
    </div>
  </body>


